:host {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    margin: 5px;
    border-radius: 20px;
}

.screen {
    max-height: 200px;
    max-width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}