<a id="about"></a>
<div class="gradient-background"></div>
<div class="pointer-effect"></div>
<div
  class="main-flow"
  style="max-width: 1280px; margin: 0px auto; column-gap: 50px"
>
  <header class="flex-col sp-around-center content-column header">
    <div>
      <h1>Mindaugas ŠATAS</h1>
      <h2>Web developer</h2>
      <p>Eager to create and learn.</p>
      <nav class="lg-only mt-50">
        <ul>
          <li class="mb-20 link"><a href="#about">ABOUT</a></li>
          <li class="mb-20 link"><a href="#projects">PROJECTS</a></li>
          <li class="mb-20 link"><a href="#experience">EXPERIENCE</a></li>
          <li class="mb-20 link"><a href="#education">EDUCATION</a></li>
        </ul>
      </nav>
      <div class="flex-row center-center mt-50">
        <a
          href="https://www.linkedin.com/in/mindaugas-%C5%A1atas-9ab05663/"
          target="_blank"
          style="margin-right: 15px"
        >
          <svg
            class="svg-icon-pop"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="32"
            height="32"
            fill="rgb(0, 50, 0)"
          >
            <path
              d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"
            ></path>
          </svg>
        </a>
        <a href="https://github.com/m-satas" target="_blank">
          <svg
            class="svg-icon-pop"
            viewBox="0 0 16 16"
            width="32"
            height="32"
            fill="rgb(0, 50, 0)"
          >
            <path
              d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </header>
  <main class="content-column" style="padding: 90px 0px">
    <section class="mb-70">
      <h1>About</h1>
      <p>
        My fascination with technology began in early childhood, sparked by my
        love for computer games and interactive experiences. Introduced to
        Pascal by my father, I was captivated by the potential of coding to
        bring ideas to life.
      </p>
      <p>
        Coding, for me, is akin to solving puzzles, even more than that - it's
        about figuring out the puzzle yourself and making algorithms to teach
        the computer to solve the puzzle on your behalf.
      </p>
      <p>
        As I grew, I engaged in different creative mediums, from exploring
        animation in Flash to experimenting with Photoshop, where I discovered
        my interest for digital design.
      </p>
      <p>
        These experiences led me to pursue programming and visual design further
        in university, where I chose a program that offered modules in creating
        visuals and programming to create interactive experiences.
      </p>
      <p style="margin-bottom: 50px">
        Now I continue to explore coding and visual design, driven by the joy of
        creation and the lessons learned from the process.
      </p>
      <div class="flex-row center-center wrap">
        <app-skill-pill
          style="margin: 3px"
          *ngFor="let skill of skills"
          [skill]="skill"
        ></app-skill-pill>
      </div>
    </section>
    <section id="projects" class="flex-col start-start mb-70">
      <h1>Projects</h1>
      <a
        *ngFor="let project of projects"
        class="pop-out-card"
        href="{{ project.website }}"
        target="_blank"
      >
        <app-project
          style="margin-bottom: 15px"
          [project]="project"
        ></app-project>
      </a>
    </section>
    <section id="experience" class="flex-col start-start mb-70">
      <h1>Experience</h1>
      <a
        *ngFor="let workplace of workplaces"
        class="pop-out-card mb-20"
        href="{{ workplace.website }}"
        target="_blank"
      >
        <app-workplace-card
          style="margin-bottom: 15px"
          [workplace]="workplace"
        ></app-workplace-card>
      </a>
    </section>
    <section id="education">
      <h1>Education</h1>
      <div class="flex-row sp-between-stretch sm-flex-col">
        <a
          class="education-card"
          href="https://admissions.ktu.edu/programme/b-multimedia-technologies/"
          target="_blank"
        >
          <div class="pop-out-card" style="padding: 10px">
            <h3>Bachelors degree in Computer Science</h3>
            <p style="font-weight: bold">Kaunas University of Technology</p>
            <p>Multimedia Technologies</p>
          </div>
        </a>
        <a
          class="education-card"
          href="https://www.udemy.com/course/the-web-developer-bootcamp/"
          target="_blank"
        >
          <div class="pop-out-card" style="padding: 10px">
            <h3>The Web Developer Bootcamp</h3>
            <p style="font-weight: bold">Online Udemy Courses - 73hrs</p>
            <p>
              Become a Developer With ONE course - HTML, CSS, JavaScript, Node,
              MongoDB and More!
            </p>
          </div>
        </a>
      </div>
    </section>
  </main>
</div>
