.gradient-background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(330deg, #fff7de, #e3fde8, #fff7de, #d5f0f8);
    background-size: 350% 350%;

    -webkit-animation: backgroundAnimation 45s ease infinite;
    -moz-animation: backgroundAnimation 45s ease infinite;
    animation: backgroundAnimation 45s ease infinite;
}

@-webkit-keyframes backgroundAnimation {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@-moz-keyframes backgroundAnimation {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@keyframes backgroundAnimation {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}

.link {
    font-weight: bold;
    transition: letter-spacing 0.3s ease;
}

.link:hover {
    letter-spacing: 10px;
}

.pop-out-card {
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.pop-out-card:hover {
    background: rgba(255, 255, 255, 0.300);
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.svg-icon-pop {
    transition: all 0.3s;
    transform-origin: 50% 50%;
}

.svg-icon-pop:hover {
    transform: scale(1.2);
}

.pointer-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.main-flow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0px 90px;
}

.content-column {
    width: 50%;
}

.header {
    padding: 90px 0px;
    text-align: center;
    position: sticky;
    top: 0px;
    max-height: 100vh;
    box-sizing: border-box;
}

.education-card {
    width: 48%;
}

@media screen and (max-width: 1250px) {

    .header {
        padding: 90px 0 0 0;
        position: relative;
    }

    .main-flow {
        flex-direction: column;
        padding: 0px 48px;
    }

    .content-column {
        width: unset;
    }

    .lg-only {
        display: none;
    }
}

@media screen and (max-width: 750px) {

    .main-flow {
        padding: 0px 24px;
    }

    .education-card {
        width: unset;
    }

    .sm-flex-col {
        flex-direction: column;
    }

    .pop-out-card:hover {
        background: unset;
        transform: unset;
        box-shadow: unset;
    }

    .pointer-effect {
        display: none;
    }
}